%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  %h4 What do you think about this movie?
  = render 'comments/form'
- unless @movie.comments.empty?
  #comments
    %h4 Comments:
    = render 'comments/comments_table', comments: @movie.comments